/**
 * @name gfh
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
 * @BDEditor Dark Matter
*/

@import url('https://github.com/YumoYo/Discord-Theme/blob/71c286a7687d174b0de140ab790bcc1279a7e04d/base.css');

:root {
  --background-image: url('https://s-media-cache-ak0.pinimg.com/originals/60/c4/bb/60c4bb55215c989b15b0fe144c73cf82.jpg');
  --home-image: url('https://i.imgur.com/233d55Y.gif');
  --accent: 183,37,232;
  --accent-alt: 111,29,134;
  --background-solid: #1C0D1A;
  --background-solid-dark: #101218;
  --background-solid-darker: #0c0e12;
}

/* Any custom CSS below here */


